In [14]:
import pandas as pd

targets = pd.read_csv("targets.csv", sep=",", index_col=False)
product_data = pd.read_csv("product_data.csv", sep=",")
p_data = product_data[['cod_modelo_color', 'des_filename']]

targets.head()

/var/folders/yn/kbths9ws3kz0xfdv6r93x3740000gn/T/ipykernel_60694/2907272864.py:3: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  targets = pd.read_csv("targets.csv", sep=",", index_col=False)

,cod_modelo_color,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,85_1202950,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,86_1217677,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,84_1168477,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,82_1101897,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,84_1162605,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
p_data.head()

  cod_modelo_color                  des_filename
0       83_1124642  83_1124642_17074019-82_B.jpg
1       86_1215223  86_1215223_47014392-01_B.jpg
2       84_1167695  84_1167695_27005150-70_B.jpg
3       82_1108473  82_1108473_87076320-01_B.jpg
4       83_1137778   83_1137778_17014765-37_.jpg

In [26]:


image_targets = pd.merge(p_data, targets, how='left')
image_targets = image_targets.drop(image_targets.columns[0], axis=1)

image_targets.head()

,des_filename,1,2,3,4,5,6,7,8,9,...,133,134,135,136,137,138,139,140,141,142
0,83_1124642_17074019-82_B.jpg,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,86_1215223_47014392-01_B.jpg,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,84_1167695_27005150-70_B.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,82_1108473_87076320-01_B.jpg,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,83_1137778_17014765-37_.jpg,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [27]:
image_targets.to_csv("images_targets.csv", index=False)